<div class="widget-carousel">
    <div class="widget-carousel-item" *ngFor="let sixWeather of sixWeathers">
        <div id="widget-header">
            <div class="widget-headquarter">{{sixWeather.main.temp | temperatureConverter : 'K' }}°C</div>
            <div class="widget-day">{{sixWeather.day}}</div>
            <div class="widget-headquarter"> Humidity {{sixWeather.main.humidity}}%</div>
            <div class="widget-headquarter"> wind {{sixWeather.wind.speed}}m/s</div>
        </div>
    </div>

</div>