
@import '../../../../styles.sass'

.widget-humidity, .widget-temperature, .widget-wind, .widget-day
    display: block
    margin: 0 auto
    width: fit-content

.widget-icon
    display: flex
    flex-direction: column
    flex: 1
    align-items: flex-end
.sunny
    margin-top: 10px
    color: $YELLOWCOLOR
    filter: drop-shadow( 1px 1px 10px yellow)

.night
    margin-top: 10px
    color: black
    filter: drop-shadow( 1px 1px 10px black)

.cloudMove
    margin-top: -40px

.cloud
    color: rgb(104, 175, 197)
    filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197))
    animation-name: move
    animation-iteration-count: infinite
    animation-duration: 10s
    animation-timing-function: ease-in-out
    animation-direction: alternate

.slide
    width: 300px
    flex-shrink: 0
    height: 100%

@keyframes move
    from
        margin-left: -65px
    to
        margin-left: 75px

#slideshow
    overflow: hidden
    height: 310px
    width: 728px
    border-radius: 10px
    background: $LINEARGRADIENT
    color: $GENERALCOLOR
    font-family: $FONTFAMILY

.slide-wrapper
    width: 1912px
    -webkit-animation: slide 18s ease infinite

.slide
    float: left
    height: 310px
    width: 728px


@keyframes slide
    20%
        margin-left: 0px
    30%
        margin-left: -728px
    50%
        margin-left: -728px
    60%
        margin-left: -1456px
    70%
        margin-left: -1456px
    80%
        margin-left: -2184px
    90%
        margin-left: -2184px
