
@import '../../../../styles.sass'

.widget-city-name
    display: flex
    flex: 1
    flex-direction: column
    align-items: flex-start
    position: relative
    color: white
    font-size: 30px
    left: 395px
    bottom: -53px
#widget-header
    display: block
    border-radius: 10px
    width: 700px
    height: 320px
    color: black
    font-family: Verdana, sans-serif, 'Segoe UI', Tahoma, Geneva
.div_1

    height: 350px
    width: 100%
    margin: auto
    overflow-y: hidden
    overflow-x: auto

.div_3

    height: 350px
    width: 150%

.div_2
    height: 500px
    width: 520px
    float: left
    display: block
    border-radius: 10px
    color: $GENERALCOLOR
    font-family: $FONTFAMILY

.button
    display: flex
    flex: 1
    flex-direction: column
    align-items: flex-start
    position: relative
    bottom: 35px
    background-color: darkviolet
    width: max-content
    padding: 9px
    border-radius: 30%
    left: 200px
    font-size: 15px
    top: 100px
