<p id="TitleText"><strong>PLACE TO </strong>VISIT</p>
<div id="widget-cities">
    <div class="div_3">
        <div class="widget-card" *ngFor="let recommendedCitie of recommendedCities">
            <div [ngStyle]="{'background-image': 'url(' + recommendedCitie.image + ')', 
                'width': '300px', 'height':'300px', 'border-radius':'5%', 'background-size': 'cover',
                'background-po': 'no-repeat'}">
                <div class="widget-city-name">{{recommendedCitie.name}}</div>
                <div class="buttonVisit">
                    <a href="https://condorlabs.io/" style="color: white;">
                        VISIT PLACE
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>