
@import '../../../../styles.sass'

#widget-suggest
    display: block
    border-radius: 10px
    width: 200px
    height: 220px
    background: $LINEARGRADIENT
    color: $GENERALCOLOR
    font-family: $FONTFAMILY

.widget-humidity, .widget-temperature, .widget-wind, .widget-day
    display: block
    margin: 0 auto
    width: fit-content


.widget-icon
    display: flex
    flex-direction: column
    flex: 1
    align-items: flex-end


.moveCloud
    color: rgb(175, 219, 233)
    filter: drop-shadow( 1px 1px 5px rgb(188, 233, 247))
    animation-iteration-count: infinite
    animation-duration: 10s
    animation-name: displacement
    animation-timing-function: ease-in-out
    animation-direction: alternate

@keyframes displacement
    from
        margin-left: -15px
    to
        margin-left: 15px
