<div id="widget-suggest">
    <div class="widget-icon">
        <i [ngClass]=" bestDayReturn.iconFontawesome"></i>
    </div>
    <div class="widget-temperature">{{bestDayReturn.main.temp}}°C</div>
    <div class="widget-headquarter">{{headquartersPrincipal.name}}</div>
    <div class="widget-day">{{bestDayReturn.day}}</div>
    <div class="widget-humidity">
        <div id="humidity-circle">
        </div>
        {{bestDayReturn.main.humidity}}%
    </div>
    <div class="widget-wind">
        <div id="wind-circle">
        </div>
        {{bestDayReturn.wind.speed}}m/s
    </div>
</div>