$YELLOWCOLOR:yellow
$LINEARGRADIENT:linear-gradient(90deg, rgba(90,0,234,1) 0%, rgba(97,47,201,1) 54%, rgba(103,87,172,1) 100%)
$GENERALCOLOR:white
$FONTFAMILY:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
$DELIMIT: 15px 
$BACKGROUND: #ececec
$SIZETEXT:  25px
$MARGINGENERAL: 0px 0px 5px 10px
$COLORTEXT:#5A00EA
