<div id="widget-favorite">
    <div *ngFor="let headquartersOther of headquartersOthers">
        <div class="widget-icon">
            <i [ngClass]=" headquartersOther.iconFontawesome"></i>

        </div>
        <div class="widget-headquarter-name">{{headquartersOther.name}}</div>
        <div class="widget-headquarter">{{headquartersOther.tempCelcius }}°C</div>

        <p> {{headquartersOther.description}}</p>
        <div class="widget-headquarter"> Humidity {{headquartersOther.main.humidity}}%</div>
        <div class="widget-headquarter"> wind {{headquartersOther.wind.speed}}m/s</div>
    </div>
</div>