<div class="container" *ngIf="validationDataArrive">
    <p id="TitleText"><strong>WEATHER </strong>SITE</p>
    <app-weather-forecast-principal class="delimit"></app-weather-forecast-principal>
    <app-weather-forecast-slider class="delimit"></app-weather-forecast-slider>
    <app-weather-forecast-favorite class="delimit"></app-weather-forecast-favorite>
    <app-weather-forecast-suggest class="delimit"></app-weather-forecast-suggest>
    <app-cities-world class="delimit"> </app-cities-world>
</div>